{% extends 'base.html' %}

{% block title %}Alterar Senha - MyReport{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4 text-center">Alterar Senha</h2>
            <form method="post">
                {% csrf_token %}
                
                <!-- Campos de formulário de alteração de senha -->
                <div class="form-group">
                    <label for="id_old_password">Senha Atual</label>
                    <input type="password" name="old_password" id="id_old_password" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="id_new_password1">Nova Senha</label>
                    <input type="password" name="new_password1" id="id_new_password1" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="id_new_password2">Confirmação da Nova Senha</label>
                    <input type="password" name="new_password2" id="id_new_password2" class="form-control" required>
                </div>

                <div class="d-flex justify-content-between mt-4">
                    <a href="{% url 'home' %}" class="btn btn-secondary">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Atualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
