{% extends 'base.html' %}

{% block title %}Recuperar Senha{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h2 class="titulo-2">Recupere seu acesso ao sistema</h2>
    <p>Por favor, insira o endereço de e-mail associado à sua conta. Enviaremos um link para redefinir sua senha.</p>

    <form method="post" class="mt-4">
        {% csrf_token %}
        {{ form.as_p|add_class:"form-control" }}
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
{% endblock content %}

