<!-- newreportapp/templates/registration/user_attributes_to_report_form.html -->

{% extends 'base.html' %}

{% block title %}Index{% endblock title %}

{% block content %}

            <form class="mt-4 border p-4 bg-light shadow-sm rounded" method="post">
                {% csrf_token %}
                <h4 class="titulo-2">Dados Gerais</h4>
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Salvar</button>
                <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'home' %}'">Cancelar</button>
            </form>

{% endblock content %}