<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MyReport{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header class="bg-light border-bottom mb-4">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top border shadow-sm" style="padding: 0.5rem 1rem;">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">MyReport</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>

                        {% if not user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'register' %}">Registre-se</a>
                            </li>
                        {% endif %}

                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'create_header_report' %}">Novo Relatórios</a>
                            </li>
                            
                            <!-- Dropdown do nome do usuário -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ user.get_full_name|default:user.username }}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="{% url 'create_post' %}">Incluir uma postagem</a>
                                
                                    <!-- Verifica se o nível de acesso do usuário é Editor -->
                                    {% if user.access_level == 'editor' %}
                                        <a class="dropdown-item" href="#">Meus Laudos</a>
                                    {% endif %}
                                
                                    <a class="dropdown-item" href="{% url 'edit_user_profile' %}">Alterar Dados do Perfil</a>
                                    <a class="dropdown-item" href="{% url 'user_attributes_create' %}">Incluir ou Alterar Dados Para Relatórios</a>
                                    <a class="dropdown-item" href="{% url 'password_change' %}">Alterar Senha</a> <!-- Link para alteração de senha -->
                                    
                                    <div class="dropdown-divider"></div>
                                    <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item">Logout</button>
                                    </form>
                                </div>
                            </li>
                        {% else %}
                            {% if request.path != '/registration/login/' %}  <!-- Não mostra o link de login se já estiver na página de login -->
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <main role="main" class="container mb-4">
        
        <!-- Seção para exibir mensagens de feedback -->
        {% if messages %}
            <div class="mt-5">  <!-- Altere de mt-3 para mt-5 ou mais, dependendo do espaço necessário -->
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags|default:"info" }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
                
        {% block content %}
        <!-- Conteúdo específico da página -->
        {% endblock %}
    </main>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container text-center">
            <span class="text-muted">&copy; 2024 MyReport. Todos os direitos reservados.</span>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!--<script src="{% static 'js/jspdf.umd.min.js' %}"></script>-->
    <script src="{% static 'js/scripts.js' %}"></script>

</body>

{% block scripts %}

<script>
    /* Espera o DOM ser completamente carregado
    document.addEventListener('DOMContentLoaded', function() {
        // Espera 5 segundos e então esconde as mensagens
        setTimeout(function() {
            // Seleciona todas as mensagens de alerta e as fecha
            var alerts = document.querySelectorAll('.alert');
            alerts.forEach(function(alert) {
                alert.style.display = 'none';  // Esconde a mensagem
            });
        }, 5000);  // 5000 milissegundos = 5 segundos
    });*/
</script>

{% endblock %}

</html>
