<!-- myreportapp/templates/create_post.html -->
{% extends 'base.html' %}

{% block title %}Formulário para Postagem{% endblock title %}

{% block content %}
    <h2 class="titulo-2">Formulário para Postagem</h2>

    <form method="post" enctype="multipart/form-data" class="mt-4 border p-4 bg-light shadow-sm rounded"">
        {% csrf_token %}
        
        <!-- Renderiza cada campo do formulário com label acima -->
        <div class="form-group">
            <label for="id_caption">Título da Postagem</label>
            {{ form.caption }}
        </div>

        <div class="form-group">
            <label for="id_content">Conteúdo</label>
            {{ form.content }}
        </div>

        <div class="form-group">
            <label for="id_image">Imagem</label>
            {{ form.image }}
        </div>
        
        <img id="id_image" src="#" alt="Pré-visualização da imagem" style="display:none; width: 100%; max-width: 400px; margin-top: 10px;" />
        
        <div class="form-group">
            <label for="id_privacy">Privacidade</label>
            {{ form.privacy }}
        </div>

        <button type="submit" class="btn btn-primary">Postar</button>
    </form>

{% endblock content %}

{% block script %}
    <script>
        function previewImage(event) {
            const input = event.target;
            const reader = new FileReader();

            reader.onload = function(){
                const imagePreview = document.getElementById('image-preview');
                imagePreview.src = reader.result;
                imagePreview.style.display = 'block'; // Torna a imagem visível
            }

            reader.readAsDataURL(input.files[0]); // Lê a imagem como URL
        }
        
        // Adiciona o evento para o campo de imagem
        document.getElementById('id_image').addEventListener('change', previewImage);
    </script>
{% endblock script %}
