{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="mt-4 border p-4 bg-light shadow-sm rounded">
    {% if not is_authenticated %}
        <h3 class="titulo-2">Bem-vindo</h3>
        <p>MYREPORT é um projeto independente.</p>
        <p>Tem como objetivo oferecer um ambiente seguro e eficiente para a elaboração e edição de laudos periciais, 
            inicialmente desenvolvido para Peritos Criminais Oficiais do Estado de São Paulo.</p>
        <p>Faça login ou registre-se.</p>
    {% else %}
        {% if page_obj %}
            <ul class="ul-post">
                {% for post in page_obj %}
                    <li id="post-{{ post.id }}">
                        <div class="post-header">
                            {% if post.author.photo %}
                                <img src="{{ post.author.photo.url }}" alt="Foto de {{ post.author }}" class="user-thumbnail">
                            {% endif %}
                            {% if post.caption %}
                                <span class="titulo-post">{{ post.caption }}</span>
                            {% endif %}
                        </div>
                        <p>{{ post.content|linebreaks }}</p>
                        {% if post.image %}
                            <img src="{{ post.image.url }}" alt="Imagem do Post" class="imgpost">
                            <em>Publicado por <strong>{{ post.author.username }}</strong> em {{ post.created_at }}</em>
                        {% endif %}

                        <div class="interaction-bar">
                            <span id="m-likes-count-{{ post.id }}">{{ post.likes_count }}</span>
                            <a class="icon-like" data-post-id="{{ post.id }}">
                                <i class="fas fa-thumbs-up"></i>
                            </a>
                            <a href="#" class="icon-comment" data-post-id="{{ post.id }}">
                                <i class="fas fa-comment"></i> Comentar
                            </a>
                            {% if request.user == post.author %}
                                <a href="#" class="icon-delete delete-post" data-post-id="{{ post.id }}">
                                    <i class="fas fa-trash"></i> Deletar
                                </a>
                            {% endif %}
                        </div>

                        <div class="comment-section" id="comment-section-{{ post.id }}" style="display: none;">
                            <textarea class="comment-input" placeholder="Digite seu comentário..." rows="3"></textarea>
                            <div class="comment-buttons">
                                <button class="btn btn-primary submit-comment" data-post-id="{{ post.id }}">Salvar</button>
                                <button class="btn btn-secondary cancel-comment" data-post-id="{{ post.id }}">Cancelar</button>
                            </div>
                        </div>

                        <div class="comments-list" id="comments-list-{{ post.id }}">
                            {% for comment in post.comments.all|dictsortreversed:"created_at" %}
                                <div class="comment" id="comment-{{ comment.id }}">
                                    <strong>{{ comment.user.username }}</strong> comentou em {{ comment.created_at }}:
                                    <p class="comment-content">{{ comment.content|linebreaks }}</p>  
                                    






                                    <!--Trabalhando aqui -->
                                    <div class="interaction-bar">
                                        <a class="icon-like" data-post-id="{{ comment.id }}">
                                            <i class="fas fa-thumbs-up"></i>
                                        </a>
                                        {% if comment.user == request.user %}
                                            <a href="#" class="delete-comment" data-comment-id="{{ comment.id }}">
                                                <i class="fas fa-trash"></i> Deletar
                                            </a>
                                        {% endif %}
                                    </div>





                                </div>                                
                            {% empty %}
                                <div class="no-comments">Essa postagem não possui comentários.</div>
                            {% endfor %}
                        </div>
                    </li>
                {% endfor %}
            </ul>

            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; primeira</a>
                        <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
                    {% endif %}

                    <span class="current">
                        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">próxima</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
                    {% endif %}
                </span>
            </div>
        {% else %}
            <p>Não há postagens para exibir.</p>
        {% endif %}
    {% endif %}
</div>
{% endblock content %}

{% block scripts %}
<script>
    $(document).ready(function() {
        
        function converterParaParagrafos(texto) {
            return texto.split('\n').map(linha => `<p>${linha.trim()}</p>`).join('');
        }

        async function enviarRequisicao(url, method, data = {}) {
            try {
                const response = await $.ajax({
                    url: url,
                    method: method,
                    data: data,
                    timeout: 5000, // Timeout de 5 segundos
                });
                return response;
            } catch (error) {
                console.error(`Erro ao fazer a requisição para ${url}:`, error);
            }
        }

        // Curtir post
        $('.icon-like').on('click', function(event) {
           // event.preventDefault();
           // const postId = $(this).data('post-id');
           // const url = `/post/${postId}/like/`;

           // enviarRequisicao(url, 'GET').then(response => {
           //     if (response) {
           //         $('#likes-count-' + postId).text(response.likes_count);
           //     }
           // });
            console.log('Curtiu.');
        });

        // Deletar post
        $('.delete-post').on('click', function(event) {
            event.preventDefault();
            const postId = $(this).data('post-id');
            if (!postId) return console.error('Erro: postId não definido.');
            
            if (confirm('Tem certeza que deseja deletar este post?')) {
                const url = `/post/${postId}/delete/`;
                enviarRequisicao(url, 'POST', {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }).then(() => {
                    $(`#post-${postId}`).remove();
                });
            }
        });

        // Mostrar/Esconder seção de comentários ao clicar no ícone de comentário
        $('.icon-comment').on('click', function(event) {
            event.preventDefault();
            const postId = $(this).data('post-id');
            $('#comment-section-' + postId).show();
            $('#comment-section-' + postId + ' .comment-input').focus();
        });

        // Esconder a seção de comentários ao clicar no botão "Cancelar"
        $('.cancel-comment').on('click', function(event) {
            event.preventDefault();
            const postId = $(this).data('post-id');
            $('#comment-section-' + postId).hide();
        });

        // Enviar comentário
        $('.submit-comment').on('click', function(event) {
            event.preventDefault();
            const postId = $(this).data('post-id');
            const content = $('#comment-section-' + postId + ' .comment-input').val().trim();
            if (content === '') return alert('Por favor, escreva um comentário antes de enviar.');

            const url = `/post/${postId}/comment/`;
            enviarRequisicao(url, 'POST', {
                'content': content,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            }).then(response => {
                if (response) {
                    $('#comment-section-' + postId + ' .comment-input').val('');
                    $('#comment-section-' + postId).hide();

                    // Adiciona o comentário recém-criado à lista, evitando o reload
                    const newComment = `
                        <div id="comment-${response.comment_id}" class="comment">
                            <strong>${response.username}</strong> - comentou:
                            <p>${converterParaParagrafos(response.content)}</p>
                            {% if user.is_authenticated and user == response.user_is_author %}
                                <button data-comment-id="${response.comment_id}" class="delete-comment">Deletar</button>
                            {% endif %}
                        </div>`;
                    $('#comments-list-' + postId).prepend(newComment);
                }
            });
        });

        // Deletar comentário
        $('.comments-list').on('click', '.delete-comment', function(event) {
            event.preventDefault();
            const commentId = $(this).data('comment-id');
            if (!commentId) return console.error('Erro: commentId não definido.');

            if (confirm('Tem certeza que deseja deletar este comentário?')) {
                const url = `/comment/${commentId}/delete/`;
                enviarRequisicao(url, 'POST', {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }).then(() => {
                    $(`#comment-${commentId}`).remove();
                });
            }
        });
    });

    // Ocultar mensagens de alerta após um período
    function hideMsg(selector, timeout) {
        setTimeout(() => {
            $(selector).fadeOut();
        }, timeout);
    }

    hideMsg('.alert', 5000);
</script>
{% endblock scripts %}

