{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="mt-4 border p-4 bg-light shadow-sm rounded">
    {% if not is_authenticated %}
        <h3 class="titulo-2">Bem-vindo</h3>
        <p>MYREPORT é um projeto independente.</p>
        <p>Tem como objetivo oferecer um ambiente seguro e eficiente para a elaboração e edição de laudos periciais, 
            inicialmente desenvolvido para Peritos Criminais Oficiais do Estado de São Paulo.</p>
        <p>Faça login ou registre-se.</p>
    {% else %}
        {% if page_obj %}
            <ul class="ul-post">
                {% for post in page_obj %}
                    <li id="post-{{ post.id }}">
                        <div class="post-header">
                            {% if post.author.photo %}
                                <img src="{{ post.author.photo.url }}" alt="Foto de {{ post.author }}" class="user-thumbnail">
                            {% endif %}
                            {% if post.caption %}
                                <span class="titulo-post">{{ post.caption }}</span>
                            {% endif %}
                        </div>
                        <p>{{ post.content|linebreaks }}</p>
                        {% if post.image %}
                            <div class="post-image-container mb-3">
                                <img src="{{ post.image.url }}" alt="Imagem do Post" class="imgpost img-fluid rounded shadow-sm" style="max-width: 100%; height: auto;">
                                <p class="text-muted mt-2">
                                    <em>
                                        Publicado por <strong>{{ post.author.username }}</strong> em {{ post.created_at|date:"d/m/Y H:i" }} 
                                        {% if post.updated_at and post.updated_at != post.created_at %}
                                            | Atualizado em {{ post.updated_at|date:"d/m/Y H:i" }}
                                        {% endif %}
                                    </em>
                                </p>
                            </div>
                        {% endif %}                        
                        <div class="interaction-bar big-interaction-bar">
                            <span id="post-likes-count-{{ post.id }}">{{ post.likes_count }}</span>
                            <a href="#" class="icon-like-post" data-url="{% url 'like_post' post.id %}" data-post-id="{{ post.id }}" title="Curtir">
                                <i class="fas fa-thumbs-up"></i>
                            </a>
                            <a href="#" class="icon-comment" data-post-id="{{ post.id }}" title="Comentar">
                                <i class="fas fa-comment"></i>
                            </a>
                            {% if request.user == post.author %}
                                {% if not post.comments.exists %}
                                    <a href="{% url 'create_post' post.id %}" title="Editar">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                {% endif %}                            
                                <a href="#" class="icon-delete delete-post" data-post-id="{{ post.id }}" title="Deletar">
                                    <i class="fas fa-trash"></i>
                                </a>
                            {% endif %}
                            {% if user.access_level == 'moderator' or user.access_level == 'administrator' %}
                                <a href="{% url 'mark_post_inappropriate' post.id %}" title="Conteúdo Crítico" onclick="return confirm('Você tem certeza que deseja marcar este post como inapropriado?');">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </a>
                            {% endif %}                        
                        </div>
                        <div class="comment-section" id="comment-section-{{ post.id }}" style="display: none;">
                            <textarea class="comment-input" placeholder="Digite seu comentário..." rows="3"></textarea>
                            <div class="comment-buttons">
                                <button class="btn btn-primary submit-comment" data-post-id="{{ post.id }}">Salvar</button>
                                <button class="btn btn-secondary cancel-comment" data-post-id="{{ post.id }}">Cancelar</button>
                            </div>
                        </div>
                        <div class="comments-list" id="comments-list-{{ post.id }}">
                            {% for comment in post.comments.all|dictsortreversed:"created_at" %}
                                <div class="comment" id="comment-{{ comment.id }}">
                                    <div class="comment-header">
                                        <strong class="comment-username">{{ comment.user.username }}</strong> 
                                        comentou em <span class="comment-date">{{ comment.created_at }}</span>:
                                    </div>
                                    <p class="comment-content">{{ comment.content|linebreaks }}</p> 

                                    <div class="interaction-bar">
                                        <span id="comment-likes-count-{{ comment.id }}">{{ comment.likes.count }}</span>
                                        <a href="#" class="icon-like-comment" data-url="{% url 'like_comment' comment.id %}" data-comment-id="{{ comment.id }}">
                                            <i class="fas fa-thumbs-up"></i>
                                        </a>                                    
                                        {% if comment.user == request.user or post.author == request.user %}
                                            <a href="#" class="delete-comment" data-comment-id="{{ comment.id }}">
                                                <i class="fas fa-trash"></i> Deletar
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>                                
                            {% empty %}
                                <div class="no-comments">Essa postagem não possui comentários.</div>
                            {% endfor %}

                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; primeira</a>
                        <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
                    {% endif %}
                    <span class="current">
                        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                    </span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">próxima</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
                    {% endif %}
                </span>
            </div>
        {% else %}
            <h4 class="titulo-2">Não há postagens para exibir.</h4>
        {% endif %}
    {% endif %}
</div>
{% endblock content %}


{% block scripts %}
<script>  //submit-comment
    $(document).ready(function() {
        // Token CSRF para requisições AJAX
        const csrftoken = '{{ csrf_token }}';

        // Função para converter texto em parágrafos HTML
        function converterParaParagrafos(texto) {
            return texto.split('\n').map(linha => `<p>${linha.trim()}</p>`).join('');
        }

        // Função para enviar requisições AJAX
        async function enviarRequisicao(url, method, data = {}) {
            try {
                data['csrfmiddlewaretoken'] = csrftoken;
                const response = await $.ajax({
                    url: url,
                    method: method,
                    data: data,
                    timeout: 5000,
                });
                return response;
            } catch (error) {
                console.error(`Erro ao fazer a requisição para ${url}:`, error);
            }
        }

        // Curtir/descurtir posts
        $('.icon-like-post').on('click', function(event) {
            event.preventDefault();

            const url = $(this).data('url');
            const postId = $(this).data('post-id');
            const likesCountElement = $(`#post-likes-count-${postId}`);

            enviarRequisicao(url, 'POST').then(response => {
                if (response) {
                    likesCountElement.text(response.likes_count);
                    console.log(response.message);
                } else {
                    console.error(`Erro ao fazer a requisição para ${url}`);
                }
            });
        });

        // Curtir/descurtir comentários
        $('.icon-like-comment').on('click', function(event) {
            event.preventDefault();

            const commentId = $(this).data('comment-id');
            const url = `/comment/${commentId}/like/`;
            const likesCountElement = $(`#comment-likes-count-${commentId}`);

            enviarRequisicao(url, 'POST').then(response => {
                if (response) {
                    likesCountElement.text(response.likes_count);
                    console.log(response.message);
                }
            });
        });

        // Deletar post
        $('.delete-post').on('click', function(event) {
            event.preventDefault();

            const postId = $(this).data('post-id');
            if (!postId) return console.error('Erro: postId não definido.');

            if (confirm('Tem certeza que deseja deletar este post?')) {
                const url = `/post/${postId}/delete/`;
                enviarRequisicao(url, 'POST').then(() => {
                    $(`#post-${postId}`).remove();
                });
            }
        });

        // Mostrar seção de comentários ao cliacar no balão
        $('.icon-comment').on('click', function(event) {
            event.preventDefault();

            const postId = $(this).data('post-id');
            $(`#comment-section-${postId}`).show();
            $(`#comment-section-${postId} .comment-input`).focus();
        });

        // Ocultar a seção de comentários ao clicar em "Cancelar"
        $(document).on('click', '.cancel-comment', function(event) {
            event.preventDefault();
            const postId = $(this).data('post-id');
            
            // Esconde o comentário da seção atual e limpa o campo de entrada
            $(`#comment-section-${postId}`).hide();
            $(`#comment-section-${postId} .comment-input`).val(''); // Limpa o campo de entrada
        });

        // Enviar comentário
        $('.submit-comment').on('click', function(event) {
            event.preventDefault();

            const postId = $(this).data('post-id');
            const content = $(`#comment-section-${postId} .comment-input`).val().trim();

            if (!content) {
                alert('Por favor, escreva um comentário antes de enviar.');
                return;
            }

            const url = `/post/${postId}/comment/`;
            enviarRequisicao(url, 'POST', { content: content }).then(response => {
                if (response) {
                    $(`#comment-section-${postId} .comment-input`).val('');
                    $(`#comment-section-${postId}`).hide();

                    // Adiciona o comentário recém-criado à lista
                    const newComment = `
                        <div id="comment-${response.comment_id}" class="comment">
                            <strong>${response.username}</strong> - comentou:
                            <p>${converterParaParagrafos(response.content)}</p>
                            {% if user.is_authenticated and user == response.user_is_author %}
                                <button data-comment-id="${response.comment_id}" class="delete-comment">Deletar</button>
                            {% endif %}
                        </div>`;
                    $(`#comments-list-${postId}`).prepend(newComment);
                }
            });
        });

        // Deletar comentário
        $('.comments-list').on('click', '.delete-comment', function(event) {
            event.preventDefault();

            const commentId = $(this).data('comment-id');
            if (!commentId) return console.error('Erro: commentId não definido.');

            if (confirm('Tem certeza que deseja deletar este comentário?')) {
                const url = `/comment/${commentId}/delete/`;
                enviarRequisicao(url, 'POST').then(() => {
                    $(`#comment-${commentId}`).remove();
                });
            }
        });
    });

    // Função para ocultar mensagens de alerta após um tempo
    function hideMsg(selector, timeout) {
        setTimeout(() => {
            $(selector).fadeOut();
        }, timeout);
    }

    hideMsg('.alert', 8000);
</script>
{% endblock scripts %}
