{% extends 'base.html' %}

{% block title %}Login - MyReport{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="titulo-2">Login</h2>
        <form method="post" id="login-form" autocomplete="off" class="border p-4 bg-light shadow-sm rounded">  <!-- autocomplete desativado no formulário -->
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Nome de Usuário</label>
                <input type="text" class="form-control" id="username" name="username" autocomplete="off" required>  <!-- autocomplete desativado no campo -->
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" class="form-control" id="password" name="password" autocomplete="off" required>  <!-- autocomplete desativado no campo -->
            </div>
            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
            <p><a href="{% url 'password_reset' %}">Esqueceu a senha?</a></p>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    // Limpa os campos ao carregar a página para evitar preenchimento automático
    window.onload = function() {
        let myinputisblank = false;
        const myinput = document.querySelector('#username');
        
        // Preenche o campo com um ponto
        myinput.value = '.';
        myinput.style.color = '#ffffff'
    
        // Adiciona um listener de evento para o foco
        myinput.addEventListener('focus', (event) => {
            if (!myinputisblank) {
                myinput.value = ''; // Limpa o ponto ao focar
                myinput.style.color = '#000000'
                myinputisblank = true; // Marca que o input foi limpo
            }
        });

    }
</script>
{% endblock scripts %}
